<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/css/theme.blue.css'>
        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.css'>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>
        <script src='http://mottie.github.com/tablesorter/js/jquery.tablesorter.min.js'></script>
        <script src='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.js'></script>
        <script src='CookieClient.js'></script>
    </head>
    <body>
        <div id='create'></div>

        <table id='datatable' class='tablesorter-blue'>
        </table>
        <div class='pager' id='pager'>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/first.png' class='first' alt='First'/>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/prev.png' class='prev' alt='Prev'/>
            <span class='pagedisplay'></span> <!-- this can be any element, including an input -->
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/next.png' class='next' alt='Next'/>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/last.png' class='last' alt='Last'/>
            <select class='pagesize'>
                <option selected='selected' value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
            </select>
        </div>
        <br>

        <div id='details'></div>


        <!-- Templates -->
        <script type='text/template' id='tpl-create'>
            <!--
            Put your controls to create new entity here.

            Class 'new' is used to listen on events in JS code.
            -->
            <button class='new'>Create</button>
        </script>

        <script type='text/template' id='thead'>
            <thead>
            <tr>
            <th>cookieId</th>
            <th>cookieDescription</th>
            <th>cookieImage</th>
            <th>cookieName</th>
            <th>costPerPiece</th>
            </tr>
            </thead>
        </script>
        <script type='text/template' id='tpl-cookie-list-item'>
            <td><a href='#<%= cookieId %>'><%= cookieId %></a></td>
            <td><%= cookieDescription %></td>
            <td><%= cookieImage %></td>
            <td><%= cookieName %></td>
            <td><%= costPerPiece %></td>
        </script>

        <script type='text/template' id='tpl-cookie-details'>
            <div>
            <table>
            <tbody>
            <tr><td>Id</td>
            <td>
            <input type='text' id='cookieId' name='id' value='<%= typeof(cookieId)!== "undefined" ? cookieId : "" %>'  />
            </td>
            </tr>
            <tr>
            <td>cookieDescription</td><td><input type='text' id='cookieDescription' name='cookieDescription' value='<%= cookieDescription %>'/></td></tr>
            <tr>
            <td>cookieImage</td><td><input type='text' id='cookieImage' name='cookieImage' value='<%= cookieImage %>'/></td></tr>
            <tr>
            <td>cookieName</td><td><input type='text' id='cookieName' name='cookieName' value='<%= cookieName %>'/></td></tr>
            <tr>
            <td>costPerPiece</td><td><input type='text' id='costPerPiece' name='costPerPiece' value='<%= costPerPiece %>'/></td></tr>
            </tbody>
            </table>
            <!--
            Put your controls to create new entity here.
            Classes 'save' and 'delete' are used to listen on events in JS code.
            -->
            <button  class='save'>Save</button>
            <button  class='delete'>Delete</button>
            </div>
        </script>

        <p><a href="index.html" role="button">&ShortLeftArrow; Home</a></p>

    </body>
</html>
